<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
                           http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
    <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />
    <context:annotation-config />
    
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="tapestryUnit" />
    </bean>
    <!-- Switch to this in JEE -->
    <!-- <jee:jndi-lookup id="entityManagerFactory" jndi-name="persistence/tapestryUnit" /> -->

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>
    
    <tx:annotation-driven transaction-manager="transactionManager" />

    <bean id="celebrityDao" class="com.grupoatwork.celebrity.dao.CelebrityDaoImpl" />
    <bean id="districtDao" class="com.grupoatwork.celebrity.dao.DistrictDaoImpl" />
    <bean id="countyDao" class="com.grupoatwork.celebrity.dao.CountyDaoImpl" />
    <bean id="parishDao" class="com.grupoatwork.celebrity.dao.ParishDaoImpl" />
    <bean id="addressDao" class="com.grupoatwork.celebrity.dao.AddressDaoImpl" />
    <bean id="movieDao" class="com.grupoatwork.celebrity.dao.MovieDaoImpl" />
    <bean id="roleDao" class="com.grupoatwork.celebrity.dao.RoleDaoImpl" />
    
    <bean id="celebrityWebservices" class="com.grupoatwork.celebrity.webservices.CelebrityWebservices">
    	<property name="celebrityDaoProp" ref="celebrityDao"/>
    </bean>
</beans>